<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dashboard</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="./static/lib/css/dc.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css'/>

    <link rel="stylesheet" href="./static/lib/css/main.css">


</head>


<body class="application">

<nav class="navbar navbar-fixed-top navbar-default navbar-fnt navbar-backgrnd">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WeddingPlanner.co.uk</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="sessions.html">Session Explorer</a></li>
      <li class="active"><a href="users.html">Users</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="https://www.valtech.co.uk"><img style="max-width:200px; margin-top: -12px; max-height:35px; margin-bottom: -10px;" src="/static/figs/AgileData.png"></a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid">

  <div class="row">

    <div class="col-md-2 pie-chart">
      <h4>User Type <small><a id="type">reset</a></small></h4>
      <div class="dc-chart" id="chart-type"></div>
    </div>

    <div class="col-md-2 pie-chart">
      <h4>Source <small><a id="source">reset</a></small></h4>
      <div class="dc-chart" id="chart-source"></div>
    </div>

    <div class="col-md-2 pie-chart">
      <h4>Age <small><a id="age">reset</a></small></h4>
      <div class="dc-chart" id="chart-age" ></div>
    </div>

    <div class="col-md-2 pie-chart">
      <h4>Gender <small><a id="gender">reset</a></small></h4>
      <div class="dc-chart" id="chart-gender" ></div>
    </div>

    <div class="col-md-2 pie-chart">
      <h4>Device Category <small><a id="device">reset</a></small></h4>
      <div class="dc-chart" id="chart-device" ></div>
    </div>

  </div>

   <div class="row">

    <div class="col-md-12">
        <h4>Sessions and Bounces</h4>
        <div class="dc-chart" id="time-chart" ></div>
    </div>

  </div>

   <div class="row">

    <div class="col-md-2">
      <h4>Goal Starts <small><a id="start">reset</a></small></h4>
      <div class="dc-chart" id="start-chart"></div>
    </div>

    <div class="col-md-2">
      <h4>Goal 10 Starts <small><a id="start10">reset</a></small></h4>
      <div class="dc-chart" id="start10-chart"></div>
    </div>

    <div class="col-md-2">
      <h4>Goal Completions <small><a id="completion">reset</a></small></h4>
      <div class="dc-chart" id="completion-chart"></div>
    </div>

    <div class="col-md-2">
      <h4>Goal Abandon Rate <small><a id="abandon">reset</a></small></h4>
      <div class="dc-chart" id="abandon-chart"></div>
    </div>

     <div class="col-md-2">
      <h4>Mean Duration <small><a id="duration">reset</a></small></h4>
      <div class="dc-chart" id="duration-chart"></div>
    </div>

  </div>


  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-striped" id="data-table">
        <thead>
          <tr class="header">
            <th>User Type</th>
            <th>Source</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Bounce Rate</th>
            <th>Goal Completions</th>
            <th>Mean Duration</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>



  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.min.js"></script>
   <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="./static/lib/js/dc.min.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script src="./static/lib/js/keen.min.js"></script>
  <script src="./static/lib/js/underscore-min.js" type="text/javascript" ></script>
  <script src='./static/js/users.js' type='text/javascript'></script>


</body>
</html>
