<!DOCTYPE html>
<html lang="en">
<head>

   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>myNHS Dashboard</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css'/>

  <link rel="stylesheet" href="./static/lib/css/main.css">

</head>


<body class="application">

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">myNHS</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/">Organisation Finder</a></li>
      <li class="active"><a href="hipReplacement.html">Hip Replacements</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  <div class="container-fluid">

  <div class="row" id="control-row">

    <div class="col-md-2 pie-chart">
      <h4>Organisation Type <small><a id="type">reset</a></small></h4>
      <div class="dc-chart" id="chart-type"></div>
    </div>

    <div class="col-md-2 pie-chart">
      <h4>Pims Managed <small><a id="pims">reset</a></small></h4>
      <div class="dc-chart" id="chart-pims"></div>
    </div>

    <div class="col-md-2 pie-chart">
      <h4>Year <small><a id="year">reset</a></small></h4>
      <div class="dc-chart" id="chart-year" ></div>
    </div>

    <div class="col-md-2 pie-chart">
      <h4>Sales Probability <small><a id="prob">reset</a></small></h4>
      <div class="dc-chart" id="chart-prob"></div>
    </div>

    <div class="col-md-4">
      <h4>Page Views <small><a id="page">reset</a></small></h4>
      <div class="dc-chart" id="chart-views"></div>
    </div>




  </div>

  <div class="row">

    <div class="col-md-6">
      <h4>Map</h4>
      <div id="map"></div>
    </div>

    <div class="col-md-6">
      <h4>Number of Primary Hip Replacements <small><a id="bars">reset</a></small></h4>
      <div class="dc-chart" id="row-chart"></div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-striped" id="data-table">
        <thead>
          <tr class="header">
            <th>Organisation Name</th>
            <th>Type</th>
            <th>Pims</th>
            <th>Year</th>
            <th>Page Views</th>
            <th>Value</th>
            <th>Metrics</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script src="./static/lib/js/keen.min.js"></script>
  <script src="./static/lib/js/leaflet.js" type="text/javascript"></script>
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <script src="./static/lib/js/underscore-min.js" type="text/javascript" ></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>


</body>
</html>
