<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>myNHS Dashboard</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">

  <link rel="stylesheet" href="./static/lib/css/main.css">

</head>


<body class="application">

<nav class="navbar navbar-fixed-top navbar-default navbar-fnt navbar-backgrnd">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img style="max-width:200px; margin-top: -7px; max-height:35px; margin-bottom: -10px;" src="/static/figs/choices-logo.gif"></a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="organisationFinder.html">Organisation Finder</a></li>

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Metrics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="operations.html">Operations</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="waitTime.html">Metrics: Wait Time</a></li>
          </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="https://www.valtech.co.uk"><img style="max-width:200px; margin-top: -12px; max-height:35px; margin-bottom: -10px;" src="/static/figs/AgileData.png"></a></li>
    </ul>
  </div>
</nav>

  <div class="container-fluid">
  <div class="row" id="control-row">
    <center>
      <h1>myNHS Demo Dashboard</h1>
    <p>
      <br>
      Welcome to a simple myNHS demo dashboard build by <a href="https://www.valtech.co.uk">Valtech_ </a>.
      <br>The Dashboard utilises a subset of NHS data as in July 2016.
      <br><br>
      Choose the functionality from the top bar.
      <br>Please be patient when the view loads, as the demo dashboard has not been optimised for speed.
    </p>
    </center>
  </div>
  </div>


 <script src="./static/lib/js/jquery.min.js"></script>
 <script src="./static/lib/js/bootstrap.min.js"></script>
 <script src="./static/lib/js/keen.min.js"></script>


</body>
</html>
